{% extends 'base1.html' %}

{% block header %}
    <h3>STDSILIWANGI</h3>
    <span class="subheading">-About-</span>
{% endblock header %}

{% block contents %}
<div class="container">
    <div class= "row justify-content-center">
            <div class="center">
                <div class= "">
                    <h1 classt="post-title">About Us</h1>
                    <hr>
                    <h3>Thanks for checking it out. </h3>
                    <h3>See You When I See You Again. </h3>
                    <h3>Bye Bye, See You in the Next One. </h3>
                    <h3>Dont Forget, Follow Our Social Media. </h3>
                    <h3>Cheeers ;) </h3>
                    {{myfilter.form}}
                </div>
            </div>
    </div>
</div>
{% endblock contents %}
